---
import Weight from "../svg/weight.svg?raw";
import Height from "../svg/height.svg?raw";
interface Props {
  title: string;
  category: string;
  weight: string;
  height: string;
  imgSrc: string;
}
const { title, category, weight, height, imgSrc } = Astro.props;
---

<div class="shadow-gray-500 shadow-sm flex">
  <div class="bg-neutral basis-1/4">
    <img class="w-full h-full" src={imgSrc} />
  </div>
  <div class="basis-3/4 bg-white p-2 flex flex-col gap-2">
    <h3 class="font-bold font-xl text-primary">{title}</h3>
    <div class="badge badge-neutral">{category}</div>
    <div class="flex gap-2">
      <div class="h-6 w-6">
        <Fragment set:html={Weight} />
      </div>
      <p>{weight}</p>
    </div>
    <div class="flex gap-2">
      <div class="h-6 w-6">
        <Fragment set:html={Height} />
      </div>
      <p>{height}</p>
    </div>
  </div>
</div>
